<%- include("../partials/header") %>

<div class="container my-4">
    <div class="row">
        <div class="col-4 col-md-3">
            <form action="/items" method="GET">
                <div class="form-group">
                    <label class="filter-header" for="search">Search <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" id="search" name="search" placeholder="search item" required>
                </div>
                <button class="btn btn-primary btn-block">Search</button>
            </form>
            <hr>
            <p class="filter-header">Vehicle Type</p>
            <form action="/items" method="GET">
                <ul>
                    <% for(let category of categories) { %>
                        <li>
                            <input class="btn btn-link" type="submit" name="search" value="<%= category %>">
                        </li>
                    <% } %>
                </ul>
            </form>
        </div>

        <div class="col-8 col-md-9">
            <div class="row">
                <% for(let item of items) { %>
                    <div class="col-6 col-md-4 col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card text-center text-dark">
                            <a href="/items/<%= item._id %>">
                                <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
                                <div class="card-body d-flex flex-column">
                                  <h5 class="card-title text-dark"><%= item.brand %></h5>
                                  <p class="card-text text-dark"><%= item.name %></p>
                                  <p class="card-text text-dark">₱<%= item.price %>.00</p>
                                  <% if(item.stocks <= 0) { %>
                                        <p class="card-text text-danger">Out of stock</p>
                                  <% } %>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>